.search-view-component {
    background: transparent;
    padding: 5px 10px;
    border: 2px solid #7D00FF;
    border-radius: 5px;
    color: #01010f;
}

.search-view-component:hover {
    border: 2px solid #7D00FF;
}

.search-view-component:focus-visible {
    outline: none;
}