.grid-view-wrapper {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.students-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.students-table th,
.students-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.students-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.students-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.students-table tr:hover {
    background-color: #f1f1f1;
}


.students-table-body-wrapper {
    max-height: 300px; /* Adjust height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative; /* Optional for proper scrolling context */
}

.kebab-menu {
    transform: rotate(90deg);
    font-size: 20px;
    padding: 0;
}

.dropdown-toggle {
    background: transparent;
    color: #01010f;
    transform: rotate(90deg);
    padding: 2px;
}

.dropdown-toggle:hover {
    border: 1px solid transparent;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu.show {
    background: #f6f6f6;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 6px #98989ba6;
    box-sizing: border-box;
    left: auto;
    right: 10px;
    transform: translate3d(3px, 26px, 0);
    will-change: auto;
    z-index: 1;
}

.dropdown-item {
    font-size: 14px;
    cursor: pointer;
}

.students-search-grid {
    height: calc(100vh - 160px);
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    top: 0px;
    width: calc(100% - 0px);
}

.students-table thead {
    position: sticky;
    top: 20px;
    background: #fff;
    z-index: 2;
    width: 100%;
}